.characters-list{
    text-align: left;
    border: solid 0.5px;
    margin: calc(8px + 1vmin);
    max-height: 50%;
}

div.character {
    border-bottom: solid 0.5px grey;
    padding: calc(8px + 1vmin);
    font-size: initial;
}